[submodule "baresip"]
	path = baresip
	url = git@github.com:baresip/baresip.git
[submodule "re"]
	path = re
	url = git@github.com:baresip/re.git
[submodule "baresip-apps"]
	path = baresip-apps
	url = git@github.com:baresip/baresip-apps.git
[submodule "libfvad"]
	path = libfvad
	url = git@github.com:dpirch/libfvad.git
